/android/.idea
/.qwen
/.antigravitycli
.kotlin/
*.kotlin/
android/.kotlin/
server/go.sum
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
server/cmd/server/data/
client/node_modules/
client/dist/
server/cmd/server/dist/
server/data/upload
.env
*.env
server/.env
*.kate-swp
.*.kate-swp
*.jks
*.keystore
key.properties
google-services.json
**/google-services.json
*firebase*.json
server/firebase*.json
serviceAccountKey*.json
*.service-account.json

.postman/
*.mmdb
*.mmdb.gz
server/data/*.mmdb
server/data/*.gz
server/data/*.tar.gz